<ion-view>
  <ion-nav-bar align-title="center" class="pocket-head">
    <div class="holder header">
      <ion-nav-back-button class="button-clear header__back" transitiontype="slide" direction="right" go-native>
        <img src="img/back-chevron.png" alt=""> Back
      </ion-nav-back-button>
      <!-- <div class="header__back" ui-sref="menu" go-native>Back</div> -->
      <ion-nav-title class="header__heading title-center">General</ion-nav-title>
    </div>
  </ion-nav-bar>
  <!--<ion-content scroll="false">-->
  <ion-content class="gm-content" on-scroll="gotScrolled()" delegate-handle="mainScroll">
            <div class="settings">
              <ul class="left-list">
                <li>Notifications
                  <span class="pull-right">
                    <label class="toggle toggle-assertive">
                      <input type="checkbox" ng-model="generalData.notifications">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                  </span>
                <li>Use Mobile Data
                  <span class="pull-right">
                    <label class="toggle toggle-assertive">
                      <input type="checkbox" ng-model="generalData.mobile_data">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                  </span>
                </li>
                <li>Vibrate on Match
                  <span class="pull-right">
                    <label class="toggle toggle-assertive">
                      <input type="checkbox" ng-model="generalData.vibration">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                  </span>
                </li>
              </ul>
              <ul class="left-list">
                <li>Add Contact Cards to contacts
                  <span class="pull-right">
                    <label class="toggle toggle-assertive">
                      <input type="checkbox" ng-model="generalData.add_to_contacts">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                  </span>
                </li>
              </ul>
              <ul class="bad-things">
                <p class="small-text">Here bad things happen...</p>
                <li class="text-center log-out"><a class="active" ng-click="logout()">Log Out</a></li>

              </ul>
              <a class="deactivate-account-link">Deactivate Account</a>
            </div>
  </ion-content>
</ion-view>
