<ul>
  <li ng-click="toSend.phone_number = !toSend.phone_number" ng-if="contactData.phone_number"><i class="icon push-left-10" ng-class="toSend.phone_number ? 'phone' : 'phoneg'"></i>Phone</li>
  <li ng-click="toSend.facebook = !toSend.facebook" ng-if="contactData.facebook"><i class="icon push-left-10" ng-class="toSend.facebook ? 'facebook' : 'facebookg'"></i>Facebook</li>
  <li ng-click="toSend.instagram = !toSend.instagram" ng-if="contactData.instagram"><i class="icon push-left-10" ng-class="toSend.instagram ? 'instagram' : 'instagramg'"></i>Instagram</li>
  <li ng-click="toSend.snapchat = !toSend.snapchat" ng-if="contactData.snapchat"><i class="icon push-left-10" ng-class="toSend.snapchat ? 'snapchat' : 'snapchatg'"></i>Snapchat</li>
  <li ng-click="toSend.skype = !toSend.skype" ng-if="contactData.skype"><i class="icon push-left-10" ng-class="toSend.skype ? 'skype' : 'skypeg'"></i>Skype</li>
</ul>
