.page {
  height: 100%;
}
.home-page {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  height: 100%;
}
h1.logo {
  width: 38%;
  margin: 55px auto;
  padding: 0;
  background-size: 100%;
  display: block;
  margin: 0 auto;
}
h1.logo img {
  width: 100%;
  -webkit-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
h1.logo img.loading {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.home-title {
  padding: 0;
  font-family: 'gotham-book';
  display: block;
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.home-title img {
  -webkit-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
  display: inline;
  position: relative;
  top: 60px;
}
.home-title img.loading {
  top: 0;
}
.vmodal-container {
  margin: 10px auto auto;
}
.vmodal-container .send,
.vmodal-container .back {
  font-size: 25px;
}
.vmodal-container .vmodal-content {
  font-size: 15px;
}
.vmodal-container .vmodal-content input {
  font-size: 17px;
}
.vmodal-container .vmodal-header {
  text-align: center;
  font-size: 17px;
  padding: 15px 20px 0 20px;
}
.vmodal-container .vmodal-header .heading {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueLTStd-Md', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
  color: #8f8f8f;
}

.vmodal-container .send-full {
  font-size: 25px;
}
.popup.active .emp {
  color: #fd3257;
  font-weight: 600;
}
